---
import { Image } from 'astro:assets';
import purpleRadial from './purple-gradient.png'
---

<span class="absolute lg:-top-1/4 lg:-left-1/3 -top-1/2 md:-left-2/3 -z-10">
    <Image src={purpleRadial.src} alt="" width={1000} height={1000} />
</span>