---
import Hero from "../components/Hero.astro";
import Leaderboard from "../components/Leaderboard.astro";
import Layout from "../layouts/Layout.astro";
import { GET as getLeaderboard } from './api/update-leaderboard';

const heroButtons = [
	{
		text: "Join the Discord",
		link: "",
	},
	{
		text: "View the Rankings",
		link: "#leaderboard",
	},
];

let reponse = await getLeaderboard();
const { items }  = await reponse.json();

console.log(items);
---

<Layout title="Malta Esports Ranking Display">
	<main>
		<Hero
			title="Malta Esports Ranking Display"
			subtitle="A simple ranking display for the Maltese esports scene"
			buttons={heroButtons}
		/>
		<Leaderboard data={items}/>
	</main>
</Layout>

<style></style>
