---
import Hero from "../components/Hero.astro";
import Leaderboard from "../components/Leaderboard.astro";
import Layout from "../layouts/Layout.astro";

const heroButtons = [
	{
		text: "Join the Discord",
		link: "",
	},
	{
		text: "View the Rankings",
		link: "#leaderboard",
	},
];
---

<Layout title="Malta Esports Ranking Display">
	<main>
		<Hero
			title="Malta Esports Ranking Display"
			subtitle="A simple ranking display for the Maltese esports scene"
			buttons={heroButtons}
		/>
		<Leaderboard id="leaderboard"/>
	</main>
</Layout>

<style></style>
