<header class="border-b border-b-lime">
    <div class="container flex justify-between w-full py-4 text-white mx-auto">
        <div>
            <span class="tracking-wider">Malta Esports Ranking</span>
        </div>
        <nav>
            <ul>
                <li><a href="/">CS2</a></li>
            </ul>
        </nav>
    </div>
</header>
