<section class="container py-20 mx-auto">
    <table class="table w-full">
        <thead>
            <tr class="border-b-2">
                <th class="w-[120px]">
                    <div class="flex items-center justify-center p-4">Position</div>
                </th>
                <th>
                    <div class="flex items-center justify-center p-4">Username</div>
                </th>
                <th class="w-[200px]">
                    <div class="flex items-center justify-center p-4">Elo</div>
                </th>
                <th class="w-[200px]">
                    <div class="flex items-center justify-center p-4">Rank</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="w-[120px]">
                    <div class="flex items-center justify-center p-4">1</div>
                </th>
                <th>
                    <div class="flex items-center justify-center p-4">Skull3d</div>
                </th>
                <th class="w-[200px]">
                    <div class="flex items-center justify-center p-4">1234</div>
                </th>
                <th class="w-[200px]">
                    <div class="flex items-center justify-center p-4">image</div>
                </th>
            </tr>
        </tbody>
    </table>
</section>
