---
import Background from '../assets/elements/Background.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-black text-white relative">
		<Header />
		<Background />
		<slot />
	</body>
</html>
<style is:global>
	:root {		
		--font-neue-kaine: 'NeueKaine', sans-serif;
	}

	@font-face {
		font-family: 'NeueKaine';
		src: url('/fonts/NeueKaine-Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}	

	@font-face {
		font-family: 'NeueKaine';
		src: url('/fonts/NeueKaine-Medium.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'NeueKaine';
		src: url('/fonts/NeueKaine-Regular.woff') format('woff');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'NeueKaine';
		src: url('/fonts/NeueKaine-SemiBold.woff') format('woff');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'NeueKaine';
		src: url('/fonts/NeueKaine-Bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'NeueKaine';
		src: url('/fonts/NeueKaine-ExtraBold.woff') format('woff');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}
	body {
		font-weight: 600;
	}
</style>
